doctype html
html
  head
    meta(charset="utf-8")
    title 聊天
    != css_tag("chat.css")
  body
    ul#messages-list
    input#message-input
    script(src="/socket.io/socket.io.js")
    script(src="/js/jquery-1.11.3.js")
    != js_tag("chat.js")
