extends ./layouts/layout.jade

block resources
  title 车铃网 - 404错误

block main
  .content
    .wrap.clearfix
      .layout
        .row
          .col.col-mobile-1.col-pad-2.col-pc-2
            #text.col-wrap
              p 哎呀……
              p 您要找的页面走丢了哦！
        .clearfloat
