extends ./layouts/layout.jade

block resources
  title 车铃网 - 500错误

block main
  .content
    .wrap.clearfix
      .layout
        .row
          .col.col-mobile-1.col-pad-2.col-pc-2
            #text.col-wrap
              p 哎呀……
              p 服务器暂时开小差了！
        .clearfloat
